@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Produtos</h2>

@Html.ActionLink("Novo produto", "Cadastro")

@{
    var grid = new WebGrid(ViewBag.Produtos);
}

@grid.GetHtml(
    columns: grid.Columns(
        grid.Column("Id", "ID", format: (item) => Html.ActionLink("Editar", "Cadastro", new { id = item.Id })),
        grid.Column("Descricao", "Descrição"),
        grid.Column("Quantidade", "Qtd")
    )
)
